@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&display=swap');

.cuisine-container {
        display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 15px;
    margin-bottom: 100px;
}
.recipe-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
    margin-bottom: 100px;
}

.recipe-card {
    padding: 15px;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 25px;
    text-align: center;
}

.recipe-card h3 {
    color: teal;
    font-family: 'Merriweather', serif;
    font-size: 15px;
}
.recipe-card img {
    width: 250px;
    height: 150px;
    border-radius: 20%;
}
.recipe-link {
    font-family: 'Merriweather', serif;
    font-size: 12px;
    color:  #2C7A7B;

}
.recipe-link:hover {
    color:  #2C7A7B;
    text-decoration: underline;
}

.recipe-card:hover {
    -webkit-box-shadow: 4px -1px 20px 0px rgba(82,27,65,0.64);
    -moz-box-shadow: 4px -1px 20px 0px rgba(82,27,65,0.64);
    box-shadow: 4px -1px 20px 0px rgba(82,27,65,0.64);
}